@import 'darkly.css';

.navbar-nav li a:hover {
	cursor: pointer;
}

.container.root {
	margin: 0 auto;
	padding: 0;
}

.container-wrapper {
	margin-top: 5.5em;
}

.details-header {
	margin: 0.2em;
}

.info {
	text-align: center;
	/*color: #f39c12;*/
	color: #f1c40f;
}
