<form>
	<div class="form-group">
		<label>Edit your bot.</label>
		{{input value=model.name type='text' placeholder='Update your bot name' class='form-control'}}
	</div>

	<button {{action 'update'}} class="btn btn-success">update</button>
	<button {{action 'cancel'}} class="btn btn-warning">cancel</button>
</form>
