<form>
	<div class="form-group">
		<label for="botName">name</label>
		<input type="text" class="form-control" id="botName" placeholder="Enter bot name">
		<p class="help-block">A name describing your bot.</p>
	</div>

	<button class="btn btn-default">update</button>
	<button class="btn btn-default">cancel</button>
</form>
